@import'./c.css';
/* 最後結尾的;很重要！！ */

.news {
    background-color: antiquewhite;
    color: white;
    height: 120vh;
    background-image: url(./images/何以解憂唯有杜康.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news h6 {
    font-size: 15px;
    margin-top: 90px;
}

.slogan {
    background-color: antique;
    color: grey;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;
}

.shop {
    display: flex;
    
}

.shop img {
    width: 50%;
}

.info {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ede9ed;
}

.info h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

.info p {
    /* text-align: center;
    line-height: 2em; */
    text-align: left;
}

.product {
    display: flex;
    background-color: #ede9ed;
    justify-content: space-between;
    justify-items: center;
    padding: 50px 50px 50px;
}

.product div {
    width: 300px;
    text-align: center;
}

.product img {
    width: 100%;
    border-radius: 10px;
}

.product h3 {
    font-size: 20px;
    margin: 20px 0;
}

.product p {
    font-size: 14px;
    line-height: 1.6em;
}

.left-text {
    text-align: left;
}