@import'./c.css';
/* 最後結尾的;很重要！！ */

.news {
  /* background-color: antiquewhite; */
  color: black;
  min-height: 10vh;
  /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.info {
  /* background-color: antiquewhite; */
  /* margin: 30px; */
  /* text-align: center; */
  /* color: grey; */
  /* font-size: 60px; */
  /* line-height: 0.3em; */

  /* background-color: antiquewhite; */
  max-width: 1000px;
  width: 100%;
  margin: 50px auto;
  text-align: center;
  color: grey;
  font-size: 60px;
  line-height: 0.1em;
}


.info2{
  /* background-color: aqua; */
  max-width: 800px;
  width: 80%;
  margin: 50px auto;
  padding: 10px;
}

.infoname {
  width: 200px;
  /* height: 100px; */
  /* background-color: red; */
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: normal;

  /* 將寬度縮小到內容的寬度 */
  width: fit-content;
  height: 60px;
  font-size: 40px;
  color: aliceblue;
  padding: 10px;
  
}

@keyframes example {
  0% {
    transform: translateX(0);
    background-color: lightpink;
    /* left: 0px; */
    top: 0px;
  }

  50% {
    transform: translateX(250px);
    background-color: lightgreen;
    /* left: 50%; */
    top: 0px;
  }

  100% {
    transform: translateX(0);
    background-color: lightpink;
    /* left: 0px; */
    top: 0px;
  }
}

/* 打字機效果 */
/* @keyframes typing {
  from {
    width: 0;
  }
} */

/* @keyframes caret {
  50% {
    border-color: transparent;
  }
} */

.infoname {
  /* justify-content: center; */
  /* 字型：使用 Consolas、Monaco、monospace（等寬字體）。大小：200%，放大 2 倍 加粗：bold*/
  font: bold 200% Consolas, Monaco, monospace;
  /* 文字顏色為 白色 */
  /* color: white; */
  /* 限制 < > 的寬度為 15 個字元（ch，字元單位） */
  /* width: 30ch; */
  /* 不換行，確保文字一行顯示。 */
  /* white-space: nowrap; */
  /* 讓 < > 可以有寬度控制（與 block 類似，但不會換行）。 */
  /* display: inline-block; */
  /* 隱藏超出的文字，配合動畫實現打字機效果 */
  /* overflow: hidden; */
  /* 在文字右側添加一條細小的實線邊框（模擬打字機游標） */
  /* border-right: .005em solid; */
  /* typing 3s steps(15) → 3 秒內完成打字機效果，逐字顯示（15 個字）
  caret 1s steps(1) infinite → 1 秒內游標閃爍一次，無限循環 */
  /* animation: typing 1.5s steps(30), */
  /* caret 1s steps(1) infinite; */

}


.forwho {
  /* 限制最大寬度 */
  max-width: 800px;
  /* 預設寬度，讓小螢幕時可以縮小 */
  width: 90%;
  
  margin: 30px auto;
  padding: 15px;
  font-size: 20px;
  line-height: 1.5;
  text-align: center; /* 讓內容更整齊 */
  box-shadow: 0 4px 10px 5px rgba(0, 0, 0, 0.1);

}


/* .forwho {
  background-color: aqua;
  margin: 20px;
  padding: 50px;
  border: double;
} */

/* 輪播圖 */
main {
  position: relative
}

/* 如何讓carousel在頁面中水平置中 */
/* 方法一 */
/* margin: 0 auto; 會讓 .carousel 水平置中，
但前提是它的 display 必須是 block，而不是 absolute 或 inline。 */
.carousel {
  /* background-color: #ff6347; */
  display: block;
  margin: 0 auto;
  /* width: 50%; */
  max-width: 760px;
}

/* 方法二 */
/* .carousel {
  background-color: #ff6347;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;

  left: 50% 會讓 .carousel 的左側對齊畫面的 50% 位置，
  但這樣並不是置中，因為元素本身還有寬度。
  transform: translateX(-50%) 讓整個 .carousel向左平移50%的自身寬度，
  達到真正的水平置中。
  
} */

.carousel.pointer-event {
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  right: 50px;
  margin: 50px;
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  /* width: 100%; */
  max-width: 100%;
  height: auto;

  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

/* rtl:begin:ignore */
.carousel-item-next:not(.carousel-item-start),
.active.carousel-item-end {
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-end),
.active.carousel-item-start {
  transform: translateX(-100%);
}

/* rtl:end:ignore */
.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
  z-index: 0;
  opacity: 0;
  transition: opacity 0s 0.6s;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-fade .active.carousel-item-start,
  .carousel-fade .active.carousel-item-end {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: none;
  border: 0;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {

  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

/* rtl:options: {
    "autoRename": true,
    "stringMap":[ {
      "name"    : "prev-next",
      "search"  : "prev",
      "replace" : "next"
    } ]
  } */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators [data-bs-target] {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 1.25rem;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel-dark .carousel-control-prev-icon,
.carousel-dark .carousel-control-next-icon {
  filter: invert(1) grayscale(100);
}

.carousel-dark .carousel-indicators [data-bs-target] {
  background-color: #000;
}

.carousel-dark .carousel-caption {
  color: #000;
}


/* 讓按鈕置中 */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* background-color: aqua; */

  /* 滑鼠移動到時按鈕變色效果 */
  /*transition轉場效果(速度設定0.5秒)*/
  transition: 0.5s;
}

/* 滑鼠移動到時按鈕放大效果 */
.container:hover {
  transform: scale(1.2);
}


/* 按鈕樣式 */
#popover-btn {
  font-size: 20px;
  padding: 15px 30px;
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 10px;
  /* 改變游標圖案*/
  cursor: pointer;

  /*transition轉場效果(速度設定0.5秒)*/
  transition: 0.5s;
}

/* 滑鼠移動到時按鈕變色效果 */
#popover-btn:hover {
  background-color: red;
}

/* 彈出框樣式 */
.popover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: none;
}

/* 響應式設計語法 */
/* 螢幕寬度小於768像數時啟動 */
@media screen and (max-width: 768px) {

  .infoname {
    /* width: 100%; */
    /* padding: 40px 0; */
  }
}